@{
    ViewData["Title"] = "Teste MVC";
}

<div class="text-center">
    <button type="button" class="btn btn-success" onclick="funcao()">Clique aqui para carregar os dados!</button>
</div>
<form>
    <div class="form-group">
        <label for="txtDescricao">Descrição</label>
        <input type="text" class="form-control" id="txtDescricao" readonly>
    </div>
    <div class="form-group">
        <label for="txtDataHora">Data/Hora</label>
        <input type="text" class="form-control" id="txtDataHora" readonly>
    </div>
</form>

